//
// LAYOUTS - RESPONSIVE
// Place all of your custom responsive styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// The various screen sizes and breakpoints can be configured in variables.less
//
// --------------------------------------------------

/* Responsive Text Centering */
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg {
  text-align: inherit;
}

// Breakpoint styles: these styles will only apply on screens smaller than
// the defined @grid-float-breakpoint-max (usually 767px).

@media (max-width: map-get($grid-breakpoints, md)) {

}

// XS styles - default: x <= 479px
//xs: 0,
//sm: 576px,
//md: 768px,
//lg: 992px,
//xl: 1200px
@media (max-width: 576px) {
  body.admin-bar {
    header.header {
      margin-top: 46px;
    }
  }
  header {
    &.object-archive-header {
      .object-archive-slider {
        .object-slides-navigation, .slide-controls, .object-information {
          opacity: 1;
        }
        .slide-controls {
          position: relative;
          top:0;
        }
      }
    }
  }
  article {
    &.objects {
      .object-card {
        .card-information {
          opacity: 1;
        }
      }
    }
  }
  footer.footer {
    ul {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

// Small styles - default: 480px <= x <= 991px
@media (min-width: 576px) and (max-width: 992px) {
  body.admin-bar {
    header.header {
      margin-top: 46px;
    }
  }
  header {
    &.object-archive-header {
      .object-archive-slider {
        .object-slides-navigation, .slide-controls, .object-information {
          opacity: 1;
        }
        .slide-controls {
          position: relative;
          top:0;
        }
      }
    }
  }
  footer.footer {
    ul {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

}

// Medium styles - default: 992px <= x <= 1199px
@media (min-width: 992px) and (max-width: 1200px) {
  body.admin-bar {
    header.header {
      margin-top: 32px;
    }
  }
  header {
    &.object-archive-header {
      .object-archive-slider {
        .object-slides-navigation, .slide-controls, .object-information {
          opacity: 1;
        }
        .slide-controls {
          position: absolute;
          top: 40%;
        }
      }
    }
  }
  footer.footer {
    ul {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

// Large styles - default: 1200px <= x
@media (min-width: 1200px) {
  body.admin-bar {
    header.header {
      margin-top: 32px;
    }
  }
  header {
    &.object-archive-header {
      .object-archive-slider {
        .object-slides-navigation, .slide-controls, .object-information {
          opacity: 1;
        }
        .slide-controls {
          position: absolute;
          top: 60%;
        }
      }
    }
  }
  footer.footer {
    ul {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

/* Define xs styles after defaults so they take precedence */

.text-xs-left {
  text-align: left;
}

.text-xs-right {
  text-align: right;
}

.text-xs-center {
  text-align: center;
}

.text-xs-justify {
  text-align: justify;
}
